<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>E-Bot</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='imagenes/iconop.ico')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}" />
</head>

<body>
    <header>
        <section class="logotipo">
            <img src="{{url_for('static',filename='imagenes/upg.jpg')}}" width="200" height="100" />
        </section>
        <section class="Titulo">
            <h1>E-bot 00</h1>
            <h2>Introduccion a E-Bot</h2>
        </section>
        <section class="Menu">
            <nav>
                <ul>
                    <li><a href="/"> inicio </a></li>
                    <li><a href="/modo_manual"> Modo manual </a></li>
                    <li><a href="/"> Modo Programacion </a></li>
                    <li><a href="/"> Modo Visor </a></li>
                    <li><a href="/"> Tutorial </a></li>
                </ul>
            </nav>
        </section>
    </header>
    <section class="Main">
        <h2>"Lo sentimos esta pagina aun no ha sido hecha esperamos pronto esta situacion cambie"</h2>
        <img src="{{url_for('static',filename='imagenes/logo.jpg')}}" alt="Camara_RT" width="400" height="300" />
    </section>

    <footer>
        <p>Datos de contacto</p>
    </footer>

</body>
</html>

