* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e6e6;
}

header, .Main, footer {
    background: #fff;
    width: 90%;
    max-width: 1920px;
    margin: 10px auto;
}

header nav {
    background: #528FD5;
    overflow: hidden;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    background: #528FD5;
}

header nav ul li a:hover {
    background: #75ACEC;
}


header .logotipo {
    background: #aaa;
    height: 100px;
    width: 18.5%;
    margin-right: 1.5%;
    margin-bottom: 1%;
    float: left;
}

header .logotipo img {
    border-image: round;
}

    .Main img {
        clear: both;
        float: left;
        margin-top: 1%;
        width: 30%;
        margin-right: 1.5%;
        margin-bottom: 1.5%;
        background: #ff6a00;
        /*float: right;*/
    }


header .Menu {
    background: #aaa;
    height: 40px;
    width: 78.5%;
    margin-right: 1.5%;
    float: left;
}

header .Titulo {
    background: #01DFD7;
    height: 60px;
    width: 78.5%;
    margin-right: 1.5%;
    float: left;
}

footer {
    background: #000;
    color: #FFF;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}
/*aqui inician las cosas sin hacer*/


